<module 'css_base' from '/home/filosofo/git-stuff/cool-badges/css_base.py'>
/* Alpine Linux */

.alpinelinux-b-badge {}
.alpinelinux-b-left {
  color: #0D597F;
  background-color: #rgba(255, 255, 255, 0.9);
}
.alpinelinux-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0D597F;
}


/* AMD */

.amd-b-badge {}
.amd-b-left {
  color: #ED1C24;
  background-color: #rgba(255, 255, 255, 0.9);
}
.amd-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #ED1C24;
}


/* Anaconda */

.anaconda-b-badge {}
.anaconda-b-left {
  color: #42B029;
  background-color: #rgba(255, 255, 255, 0.9);
}
.anaconda-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #42B029;
}


/* Android */

.android-b-badge {}
.android-b-left {
  color: #3DDC84;
  background-color: #rgba(255, 255, 255, 0.9);
}
.android-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3DDC84;
}


/* Android Studio */

.androidstudio-b-badge {}
.androidstudio-b-left {
  color: #3DDC84;
  background-color: #rgba(255, 255, 255, 0.9);
}
.androidstudio-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3DDC84;
}


/* Angular */

.angular-b-badge {}
.angular-b-left {
  color: #DD0031;
  background-color: #rgba(255, 255, 255, 0.9);
}
.angular-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #DD0031;
}


/* Apache */

.apache-b-badge {}
.apache-b-left {
  color: #D22128;
  background-color: #rgba(255, 255, 255, 0.9);
}
.apache-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #D22128;
}


/* Apache Ant */

.apacheant-b-badge {}
.apacheant-b-left {
  color: #A81C7D;
  background-color: #rgba(255, 255, 255, 0.9);
}
.apacheant-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #A81C7D;
}


/* Apache Cordova */

.apachecordova-b-badge {}
.apachecordova-b-left {
  color: #E8E8E8;
  background-color: #rgba(255, 255, 255, 0.9);
}
.apachecordova-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E8E8E8;
}


/* Apache ECharts */

.apacheecharts-b-badge {}
.apacheecharts-b-left {
  color: #AA344D;
  background-color: #rgba(255, 255, 255, 0.9);
}
.apacheecharts-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #AA344D;
}


/* Apache Flink */

.apacheflink-b-badge {}
.apacheflink-b-left {
  color: #E6526F;
  background-color: #rgba(255, 255, 255, 0.9);
}
.apacheflink-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E6526F;
}


/* Apache NetBeans IDE */

.apachenetbeanside-b-badge {}
.apachenetbeanside-b-left {
  color: #1B6AC6;
  background-color: #rgba(255, 255, 255, 0.9);
}
.apachenetbeanside-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1B6AC6;
}


/* Apache OpenOffice */

.apacheopenoffice-b-badge {}
.apacheopenoffice-b-left {
  color: #0E85CD;
  background-color: #rgba(255, 255, 255, 0.9);
}
.apacheopenoffice-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0E85CD;
}


/* Arch Linux */

.archlinux-b-badge {}
.archlinux-b-left {
  color: #1793D1;
  background-color: #rgba(255, 255, 255, 0.9);
}
.archlinux-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1793D1;
}


/* Ardour */

.ardour-b-badge {}
.ardour-b-left {
  color: #C61C3E;
  background-color: #rgba(255, 255, 255, 0.9);
}
.ardour-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #C61C3E;
}


/* Arduino */

.arduino-b-badge {}
.arduino-b-left {
  color: #00979D;
  background-color: #rgba(255, 255, 255, 0.9);
}
.arduino-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #00979D;
}


/* asciinema */

.asciinema-b-badge {}
.asciinema-b-left {
  color: #D40000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.asciinema-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #D40000;
}


/* Atari */

.atari-b-badge {}
.atari-b-left {
  color: #E4202E;
  background-color: #rgba(255, 255, 255, 0.9);
}
.atari-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E4202E;
}


/* Atlassian */

.atlassian-b-badge {}
.atlassian-b-left {
  color: #0052CC;
  background-color: #rgba(255, 255, 255, 0.9);
}
.atlassian-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0052CC;
}


/* Atom */

.atom-b-badge {}
.atom-b-left {
  color: #66595C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.atom-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #66595C;
}


/* Awesome Lists */

.awesomelists-b-badge {}
.awesomelists-b-left {
  color: #FC60A8;
  background-color: #rgba(255, 255, 255, 0.9);
}
.awesomelists-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FC60A8;
}


/* awesomeWM */

.awesomewm-b-badge {}
.awesomewm-b-left {
  color: #535D6C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.awesomewm-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #535D6C;
}


/* Bandcamp */

.bandcamp-b-badge {}
.bandcamp-b-left {
  color: #408294;
  background-color: #rgba(255, 255, 255, 0.9);
}
.bandcamp-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #408294;
}


/* Bitbucket */

.bitbucket-b-badge {}
.bitbucket-b-left {
  color: #0052CC;
  background-color: #rgba(255, 255, 255, 0.9);
}
.bitbucket-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0052CC;
}


/* Bitcoin */

.bitcoin-b-badge {}
.bitcoin-b-left {
  color: #F7931A;
  background-color: #rgba(255, 255, 255, 0.9);
}
.bitcoin-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F7931A;
}


/* Blender */

.blender-b-badge {}
.blender-b-left {
  color: #F5792A;
  background-color: #rgba(255, 255, 255, 0.9);
}
.blender-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F5792A;
}


/* Buy Me A Coffee */

.buymeacoffee-b-badge {}
.buymeacoffee-b-left {
  color: #FF813F;
  background-color: #rgba(255, 255, 255, 0.9);
}
.buymeacoffee-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FF813F;
}


/* C */

.c-b-badge {}
.c-b-left {
  color: #A8B9CC;
  background-color: #rgba(255, 255, 255, 0.9);
}
.c-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #A8B9CC;
}


/* CentOS */

.centos-b-badge {}
.centos-b-left {
  color: #262577;
  background-color: #rgba(255, 255, 255, 0.9);
}
.centos-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #262577;
}


/* CMake */

.cmake-b-badge {}
.cmake-b-left {
  color: #064F8C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.cmake-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #064F8C;
}


/* Codewars */

.codewars-b-badge {}
.codewars-b-left {
  color: #AD2C27;
  background-color: #rgba(255, 255, 255, 0.9);
}
.codewars-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #AD2C27;
}


/* CoffeeScript */

.coffeescript-b-badge {}
.coffeescript-b-left {
  color: #2F2625;
  background-color: #rgba(255, 255, 255, 0.9);
}
.coffeescript-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2F2625;
}


/* Composer */

.composer-b-badge {}
.composer-b-left {
  color: #885630;
  background-color: #rgba(255, 255, 255, 0.9);
}
.composer-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #885630;
}


/* Concourse */

.concourse-b-badge {}
.concourse-b-left {
  color: #3398DC;
  background-color: #rgba(255, 255, 255, 0.9);
}
.concourse-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3398DC;
}


/* Coveralls */

.coveralls-b-badge {}
.coveralls-b-left {
  color: #3F5767;
  background-color: #rgba(255, 255, 255, 0.9);
}
.coveralls-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3F5767;
}


/* Creative Commons */

.creativecommons-b-badge {}
.creativecommons-b-left {
  color: #EF9421;
  background-color: #rgba(255, 255, 255, 0.9);
}
.creativecommons-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #EF9421;
}


/* Crunchbase */

.crunchbase-b-badge {}
.crunchbase-b-left {
  color: #0288D1;
  background-color: #rgba(255, 255, 255, 0.9);
}
.crunchbase-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0288D1;
}


/* CSS3 */

.css3-b-badge {}
.css3-b-left {
  color: #1572B6;
  background-color: #rgba(255, 255, 255, 0.9);
}
.css3-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1572B6;
}


/* curl */

.curl-b-badge {}
.curl-b-left {
  color: #073551;
  background-color: #rgba(255, 255, 255, 0.9);
}
.curl-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #073551;
}


/* D3.js */

.d3-dot-js-b-badge {}
.d3-dot-js-b-left {
  color: #F9A03C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.d3-dot-js-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F9A03C;
}


/* Debian */

.debian-b-badge {}
.debian-b-left {
  color: #A81D33;
  background-color: #rgba(255, 255, 255, 0.9);
}
.debian-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #A81D33;
}


/* Delicious */

.delicious-b-badge {}
.delicious-b-left {
  color: #3399FF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.delicious-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3399FF;
}


/* DeviantArt */

.deviantart-b-badge {}
.deviantart-b-left {
  color: #05CC47;
  background-color: #rgba(255, 255, 255, 0.9);
}
.deviantart-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #05CC47;
}


/* Diaspora */

.diaspora-b-badge {}
.diaspora-b-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.diaspora-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Digg */

.digg-b-badge {}
.digg-b-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.digg-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Discourse */

.discourse-b-badge {}
.discourse-b-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.discourse-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Disqus */

.disqus-b-badge {}
.disqus-b-left {
  color: #2E9FFF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.disqus-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2E9FFF;
}


/* Django */

.django-b-badge {}
.django-b-left {
  color: #092E20;
  background-color: #rgba(255, 255, 255, 0.9);
}
.django-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #092E20;
}


/* Docker */

.docker-b-badge {}
.docker-b-left {
  color: #2496ED;
  background-color: #rgba(255, 255, 255, 0.9);
}
.docker-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2496ED;
}


/* Drupal */

.drupal-b-badge {}
.drupal-b-left {
  color: #0678BE;
  background-color: #rgba(255, 255, 255, 0.9);
}
.drupal-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0678BE;
}


/* Duolingo */

.duolingo-b-badge {}
.duolingo-b-left {
  color: #58CC02;
  background-color: #rgba(255, 255, 255, 0.9);
}
.duolingo-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #58CC02;
}


/* Eclipse IDE */

.eclipseide-b-badge {}
.eclipseide-b-left {
  color: #2C2255;
  background-color: #rgba(255, 255, 255, 0.9);
}
.eclipseide-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2C2255;
}


/* Electron */

.electron-b-badge {}
.electron-b-left {
  color: #47848F;
  background-color: #rgba(255, 255, 255, 0.9);
}
.electron-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #47848F;
}


/* Elm */

.elm-b-badge {}
.elm-b-left {
  color: #1293D8;
  background-color: #rgba(255, 255, 255, 0.9);
}
.elm-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1293D8;
}


/* ESLint */

.eslint-b-badge {}
.eslint-b-left {
  color: #4B32C3;
  background-color: #rgba(255, 255, 255, 0.9);
}
.eslint-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #4B32C3;
}


/* Fedora */

.fedora-b-badge {}
.fedora-b-left {
  color: #294172;
  background-color: #rgba(255, 255, 255, 0.9);
}
.fedora-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #294172;
}


/* Firefox */

.firefox-b-badge {}
.firefox-b-left {
  color: #FF7139;
  background-color: #rgba(255, 255, 255, 0.9);
}
.firefox-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FF7139;
}


/* Firefox Browser */

.firefoxbrowser-b-badge {}
.firefoxbrowser-b-left {
  color: #FF7139;
  background-color: #rgba(255, 255, 255, 0.9);
}
.firefoxbrowser-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FF7139;
}


/* Fiverr */

.fiverr-b-badge {}
.fiverr-b-left {
  color: #1DBF73;
  background-color: #rgba(255, 255, 255, 0.9);
}
.fiverr-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1DBF73;
}


/* Flask */

.flask-b-badge {}
.flask-b-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.flask-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Flathub */

.flathub-b-badge {}
.flathub-b-left {
  color: #4A86CF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.flathub-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #4A86CF;
}


/* FreeBSD */

.freebsd-b-badge {}
.freebsd-b-left {
  color: #AB2B28;
  background-color: #rgba(255, 255, 255, 0.9);
}
.freebsd-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #AB2B28;
}


/* freeCodeCamp */

.freecodecamp-b-badge {}
.freecodecamp-b-left {
  color: #006400;
  background-color: #rgba(255, 255, 255, 0.9);
}
.freecodecamp-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #006400;
}


/* freedesktop.org */

.freedesktop-dot-org-b-badge {}
.freedesktop-dot-org-b-left {
  color: #3B80AE;
  background-color: #rgba(255, 255, 255, 0.9);
}
.freedesktop-dot-org-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3B80AE;
}


/* Ghost */

.ghost-b-badge {}
.ghost-b-left {
  color: #738A94;
  background-color: #rgba(255, 255, 255, 0.9);
}
.ghost-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #738A94;
}


/* GIMP */

.gimp-b-badge {}
.gimp-b-left {
  color: #5C5543;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gimp-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #5C5543;
}


/* Git */

.git-b-badge {}
.git-b-left {
  color: #F05032;
  background-color: #rgba(255, 255, 255, 0.9);
}
.git-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F05032;
}


/* GitHub */

.github-b-badge {}
.github-b-left {
  color: #181717;
  background-color: #rgba(255, 255, 255, 0.9);
}
.github-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #181717;
}


/* GitLab */

.gitlab-b-badge {}
.gitlab-b-left {
  color: #FCA121;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gitlab-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FCA121;
}


/* Gitter */

.gitter-b-badge {}
.gitter-b-left {
  color: #ED1965;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gitter-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #ED1965;
}


/* GNOME */

.gnome-b-badge {}
.gnome-b-left {
  color: #4A86CF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gnome-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #4A86CF;
}


/* GNU */

.gnu-b-badge {}
.gnu-b-left {
  color: #A42E2B;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gnu-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #A42E2B;
}


/* GNU Bash */

.gnubash-b-badge {}
.gnubash-b-left {
  color: #4EAA25;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gnubash-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #4EAA25;
}


/* GNU Emacs */

.gnuemacs-b-badge {}
.gnuemacs-b-left {
  color: #7F5AB6;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gnuemacs-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #7F5AB6;
}


/* GNU IceCat */

.gnuicecat-b-badge {}
.gnuicecat-b-left {
  color: #002F5B;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gnuicecat-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #002F5B;
}


/* GNU Privacy Guard */

.gnuprivacyguard-b-badge {}
.gnuprivacyguard-b-left {
  color: #0093DD;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gnuprivacyguard-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0093DD;
}


/* GNU social */

.gnusocial-b-badge {}
.gnusocial-b-left {
  color: #A22430;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gnusocial-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #A22430;
}


/* Goodreads */

.goodreads-b-badge {}
.goodreads-b-left {
  color: #663300;
  background-color: #rgba(255, 255, 255, 0.9);
}
.goodreads-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #663300;
}


/* Google Chrome */

.googlechrome-b-badge {}
.googlechrome-b-left {
  color: #4285F4;
  background-color: #rgba(255, 255, 255, 0.9);
}
.googlechrome-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #4285F4;
}


/* Gravatar */

.gravatar-b-badge {}
.gravatar-b-left {
  color: #1E8CBE;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gravatar-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1E8CBE;
}


/* Hackaday */

.hackaday-b-badge {}
.hackaday-b-left {
  color: #1A1A1A;
  background-color: #rgba(255, 255, 255, 0.9);
}
.hackaday-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1A1A1A;
}


/* HappyCow */

.happycow-b-badge {}
.happycow-b-left {
  color: #7C4EC4;
  background-color: #rgba(255, 255, 255, 0.9);
}
.happycow-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #7C4EC4;
}


/* Haskell */

.haskell-b-badge {}
.haskell-b-left {
  color: #5D4F85;
  background-color: #rgba(255, 255, 255, 0.9);
}
.haskell-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #5D4F85;
}


/* Hexo */

.hexo-b-badge {}
.hexo-b-left {
  color: #0E83CD;
  background-color: #rgba(255, 255, 255, 0.9);
}
.hexo-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0E83CD;
}


/* HTML5 */

.html5-b-badge {}
.html5-b-left {
  color: #E34F26;
  background-color: #rgba(255, 255, 255, 0.9);
}
.html5-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E34F26;
}


/* Iconify */

.iconify-b-badge {}
.iconify-b-left {
  color: #1769AA;
  background-color: #rgba(255, 255, 255, 0.9);
}
.iconify-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1769AA;
}


/* IMDb */

.imdb-b-badge {}
.imdb-b-left {
  color: #E6B91E;
  background-color: #rgba(255, 255, 255, 0.9);
}
.imdb-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E6B91E;
}


/* Imgur */

.imgur-b-badge {}
.imgur-b-left {
  color: #1BB76E;
  background-color: #rgba(255, 255, 255, 0.9);
}
.imgur-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1BB76E;
}


/* Inkscape */

.inkscape-b-badge {}
.inkscape-b-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.inkscape-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Instagram */

.instagram-b-badge {}
.instagram-b-left {
  color: #E4405F;
  background-color: #rgba(255, 255, 255, 0.9);
}
.instagram-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E4405F;
}


/* Intel */

.intel-b-badge {}
.intel-b-left {
  color: #0071C5;
  background-color: #rgba(255, 255, 255, 0.9);
}
.intel-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0071C5;
}


/* Jabber */

.jabber-b-badge {}
.jabber-b-left {
  color: #CC0000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.jabber-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #CC0000;
}


/* JavaScript */

.javascript-b-badge {}
.javascript-b-left {
  color: #F7DF1E;
  background-color: #rgba(255, 255, 255, 0.9);
}
.javascript-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F7DF1E;
}


/* Jenkins */

.jenkins-b-badge {}
.jenkins-b-left {
  color: #D24939;
  background-color: #rgba(255, 255, 255, 0.9);
}
.jenkins-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #D24939;
}


/* Joomla */

.joomla-b-badge {}
.joomla-b-left {
  color: #5091CD;
  background-color: #rgba(255, 255, 255, 0.9);
}
.joomla-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #5091CD;
}


/* jQuery */

.jquery-b-badge {}
.jquery-b-left {
  color: #0769AD;
  background-color: #rgba(255, 255, 255, 0.9);
}
.jquery-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0769AD;
}


/* JSFiddle */

.jsfiddle-b-badge {}
.jsfiddle-b-left {
  color: #0084FF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.jsfiddle-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0084FF;
}


/* JSON */

.json-b-badge {}
.json-b-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.json-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Jupyter */

.jupyter-b-badge {}
.jupyter-b-left {
  color: #F37626;
  background-color: #rgba(255, 255, 255, 0.9);
}
.jupyter-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F37626;
}


/* KDE */

.kde-b-badge {}
.kde-b-left {
  color: #1D99F3;
  background-color: #rgba(255, 255, 255, 0.9);
}
.kde-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1D99F3;
}


/* Khan Academy */

.khanacademy-b-badge {}
.khanacademy-b-left {
  color: #14BF96;
  background-color: #rgba(255, 255, 255, 0.9);
}
.khanacademy-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #14BF96;
}


/* Kotlin */

.kotlin-b-badge {}
.kotlin-b-left {
  color: #0095D5;
  background-color: #rgba(255, 255, 255, 0.9);
}
.kotlin-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0095D5;
}


/* Krita */

.krita-b-badge {}
.krita-b-left {
  color: #3BABFF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.krita-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3BABFF;
}


/* Kubernetes */

.kubernetes-b-badge {}
.kubernetes-b-left {
  color: #326CE5;
  background-color: #rgba(255, 255, 255, 0.9);
}
.kubernetes-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #326CE5;
}


/* Last.fm */

.last-dot-fm-b-badge {}
.last-dot-fm-b-left {
  color: #D51007;
  background-color: #rgba(255, 255, 255, 0.9);
}
.last-dot-fm-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #D51007;
}


/* LaTeX */

.latex-b-badge {}
.latex-b-left {
  color: #008080;
  background-color: #rgba(255, 255, 255, 0.9);
}
.latex-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #008080;
}


/* Launchpad */

.launchpad-b-badge {}
.launchpad-b-left {
  color: #F8C300;
  background-color: #rgba(255, 255, 255, 0.9);
}
.launchpad-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F8C300;
}


/* Leaflet */

.leaflet-b-badge {}
.leaflet-b-left {
  color: #199900;
  background-color: #rgba(255, 255, 255, 0.9);
}
.leaflet-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #199900;
}


/* Let’s Encrypt */

.letsencrypt-b-badge {}
.letsencrypt-b-left {
  color: #003A70;
  background-color: #rgba(255, 255, 255, 0.9);
}
.letsencrypt-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #003A70;
}


/* LibreOffice */

.libreoffice-b-badge {}
.libreoffice-b-left {
  color: #18A303;
  background-color: #rgba(255, 255, 255, 0.9);
}
.libreoffice-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #18A303;
}


/* LinkedIn */

.linkedin-b-badge {}
.linkedin-b-left {
  color: #0077B5;
  background-color: #rgba(255, 255, 255, 0.9);
}
.linkedin-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0077B5;
}


/* Linode */

.linode-b-badge {}
.linode-b-left {
  color: #00A95C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.linode-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #00A95C;
}


/* Linux */

.linux-b-badge {}
.linux-b-left {
  color: #FCC624;
  background-color: #rgba(255, 255, 255, 0.9);
}
.linux-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FCC624;
}


/* Linux Foundation */

.linuxfoundation-b-badge {}
.linuxfoundation-b-left {
  color: #009BEE;
  background-color: #rgba(255, 255, 255, 0.9);
}
.linuxfoundation-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #009BEE;
}


/* LiveJournal */

.livejournal-b-badge {}
.livejournal-b-left {
  color: #00B0EA;
  background-color: #rgba(255, 255, 255, 0.9);
}
.livejournal-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #00B0EA;
}


/* LMMS */

.lmms-b-badge {}
.lmms-b-left {
  color: #10B146;
  background-color: #rgba(255, 255, 255, 0.9);
}
.lmms-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #10B146;
}


/* Lua */

.lua-b-badge {}
.lua-b-left {
  color: #2C2D72;
  background-color: #rgba(255, 255, 255, 0.9);
}
.lua-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2C2D72;
}


/* Lubuntu */

.lubuntu-b-badge {}
.lubuntu-b-left {
  color: #0068C8;
  background-color: #rgba(255, 255, 255, 0.9);
}
.lubuntu-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0068C8;
}


/* Manjaro */

.manjaro-b-badge {}
.manjaro-b-left {
  color: #35BF5C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.manjaro-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #35BF5C;
}


/* Mastodon */

.mastodon-b-badge {}
.mastodon-b-left {
  color: #3088D4;
  background-color: #rgba(255, 255, 255, 0.9);
}
.mastodon-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3088D4;
}


/* Material-UI */

.material-ui-b-badge {}
.material-ui-b-left {
  color: #0081CB;
  background-color: #rgba(255, 255, 255, 0.9);
}
.material-ui-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0081CB;
}


/* Mixcloud */

.mixcloud-b-badge {}
.mixcloud-b-left {
  color: #314359;
  background-color: #rgba(255, 255, 255, 0.9);
}
.mixcloud-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #314359;
}


/* MongoDB */

.mongodb-b-badge {}
.mongodb-b-left {
  color: #47A248;
  background-color: #rgba(255, 255, 255, 0.9);
}
.mongodb-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #47A248;
}


/* Mozilla */

.mozilla-b-badge {}
.mozilla-b-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.mozilla-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* MuseScore */

.musescore-b-badge {}
.musescore-b-left {
  color: #1A70B8;
  background-color: #rgba(255, 255, 255, 0.9);
}
.musescore-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1A70B8;
}


/* Myspace */

.myspace-b-badge {}
.myspace-b-left {
  color: #030303;
  background-color: #rgba(255, 255, 255, 0.9);
}
.myspace-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #030303;
}


/* MySQL */

.mysql-b-badge {}
.mysql-b-left {
  color: #4479A1;
  background-color: #rgba(255, 255, 255, 0.9);
}
.mysql-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #4479A1;
}


/* NGINX */

.nginx-b-badge {}
.nginx-b-left {
  color: #269539;
  background-color: #rgba(255, 255, 255, 0.9);
}
.nginx-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #269539;
}


/* Nintendo */

.nintendo-b-badge {}
.nintendo-b-left {
  color: #8F8F8F;
  background-color: #rgba(255, 255, 255, 0.9);
}
.nintendo-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #8F8F8F;
}


/* Node.js */

.node-dot-js-b-badge {}
.node-dot-js-b-left {
  color: #339933;
  background-color: #rgba(255, 255, 255, 0.9);
}
.node-dot-js-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #339933;
}


/* NVIDIA */

.nvidia-b-badge {}
.nvidia-b-left {
  color: #76B900;
  background-color: #rgba(255, 255, 255, 0.9);
}
.nvidia-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #76B900;
}


/* OBS Studio */

.obsstudio-b-badge {}
.obsstudio-b-left {
  color: #302E31;
  background-color: #rgba(255, 255, 255, 0.9);
}
.obsstudio-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #302E31;
}


/* Open Badges */

.openbadges-b-badge {}
.openbadges-b-left {
  color: #073B5A;
  background-color: #rgba(255, 255, 255, 0.9);
}
.openbadges-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #073B5A;
}


/* Open Collective */

.opencollective-b-badge {}
.opencollective-b-left {
  color: #7FADF2;
  background-color: #rgba(255, 255, 255, 0.9);
}
.opencollective-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #7FADF2;
}


/* Open Source Initiative */

.opensourceinitiative-b-badge {}
.opensourceinitiative-b-left {
  color: #3DA639;
  background-color: #rgba(255, 255, 255, 0.9);
}
.opensourceinitiative-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3DA639;
}


/* OpenAPI Initiative */

.openapiinitiative-b-badge {}
.openapiinitiative-b-left {
  color: #6BA539;
  background-color: #rgba(255, 255, 255, 0.9);
}
.openapiinitiative-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #6BA539;
}


/* OpenBSD */

.openbsd-b-badge {}
.openbsd-b-left {
  color: #F2CA30;
  background-color: #rgba(255, 255, 255, 0.9);
}
.openbsd-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F2CA30;
}


/* OpenGL */

.opengl-b-badge {}
.opengl-b-left {
  color: #5586A4;
  background-color: #rgba(255, 255, 255, 0.9);
}
.opengl-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #5586A4;
}


/* OpenID */

.openid-b-badge {}
.openid-b-left {
  color: #F78C40;
  background-color: #rgba(255, 255, 255, 0.9);
}
.openid-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F78C40;
}


/* OpenSSL */

.openssl-b-badge {}
.openssl-b-left {
  color: #721412;
  background-color: #rgba(255, 255, 255, 0.9);
}
.openssl-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #721412;
}


/* openSUSE */

.opensuse-b-badge {}
.opensuse-b-left {
  color: #73BA25;
  background-color: #rgba(255, 255, 255, 0.9);
}
.opensuse-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #73BA25;
}


/* OpenVPN */

.openvpn-b-badge {}
.openvpn-b-left {
  color: #EA7E20;
  background-color: #rgba(255, 255, 255, 0.9);
}
.openvpn-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #EA7E20;
}


/* Origin */

.origin-b-badge {}
.origin-b-left {
  color: #F56C2D;
  background-color: #rgba(255, 255, 255, 0.9);
}
.origin-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F56C2D;
}


/* pandas */

.pandas-b-badge {}
.pandas-b-left {
  color: #150458;
  background-color: #rgba(255, 255, 255, 0.9);
}
.pandas-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #150458;
}


/* Pastebin */

.pastebin-b-badge {}
.pastebin-b-left {
  color: #02456C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.pastebin-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #02456C;
}


/* Pepsi */

.pepsi-b-badge {}
.pepsi-b-left {
  color: #2151A1;
  background-color: #rgba(255, 255, 255, 0.9);
}
.pepsi-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2151A1;
}


/* Perl */

.perl-b-badge {}
.perl-b-left {
  color: #39457E;
  background-color: #rgba(255, 255, 255, 0.9);
}
.perl-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #39457E;
}


/* PHP */

.php-b-badge {}
.php-b-left {
  color: #777BB4;
  background-color: #rgba(255, 255, 255, 0.9);
}
.php-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #777BB4;
}


/* Pokémon */

.pokemon-b-badge {}
.pokemon-b-left {
  color: #FFCB05;
  background-color: #rgba(255, 255, 255, 0.9);
}
.pokemon-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FFCB05;
}


/* PostgreSQL */

.postgresql-b-badge {}
.postgresql-b-left {
  color: #336791;
  background-color: #rgba(255, 255, 255, 0.9);
}
.postgresql-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #336791;
}


/* Postwoman */

.postwoman-b-badge {}
.postwoman-b-left {
  color: #50FA7B;
  background-color: #rgba(255, 255, 255, 0.9);
}
.postwoman-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #50FA7B;
}


/* protocols.io */

.protocols-dot-io-b-badge {}
.protocols-dot-io-b-left {
  color: #4D9FE7;
  background-color: #rgba(255, 255, 255, 0.9);
}
.protocols-dot-io-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #4D9FE7;
}


/* PyPI */

.pypi-b-badge {}
.pypi-b-left {
  color: #3775A9;
  background-color: #rgba(255, 255, 255, 0.9);
}
.pypi-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3775A9;
}


/* Python */

.python-b-badge {}
.python-b-left {
  color: #3776AB;
  background-color: #rgba(255, 255, 255, 0.9);
}
.python-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3776AB;
}


/* Qt */

.qt-b-badge {}
.qt-b-left {
  color: #41CD52;
  background-color: #rgba(255, 255, 255, 0.9);
}
.qt-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #41CD52;
}


/* R */

.r-b-badge {}
.r-b-left {
  color: #276DC3;
  background-color: #rgba(255, 255, 255, 0.9);
}
.r-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #276DC3;
}


/* Raspberry Pi */

.raspberrypi-b-badge {}
.raspberrypi-b-left {
  color: #C51A4A;
  background-color: #rgba(255, 255, 255, 0.9);
}
.raspberrypi-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #C51A4A;
}


/* Read the Docs */

.readthedocs-b-badge {}
.readthedocs-b-left {
  color: #8CA1AF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.readthedocs-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #8CA1AF;
}


/* Reddit */

.reddit-b-badge {}
.reddit-b-left {
  color: #FF4500;
  background-color: #rgba(255, 255, 255, 0.9);
}
.reddit-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FF4500;
}


/* repl.it */

.repl-dot-it-b-badge {}
.repl-dot-it-b-left {
  color: #667881;
  background-color: #rgba(255, 255, 255, 0.9);
}
.repl-dot-it-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #667881;
}


/* RSS */

.rss-b-badge {}
.rss-b-left {
  color: #FFA500;
  background-color: #rgba(255, 255, 255, 0.9);
}
.rss-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FFA500;
}


/* RStudio */

.rstudio-b-badge {}
.rstudio-b-left {
  color: #75AADB;
  background-color: #rgba(255, 255, 255, 0.9);
}
.rstudio-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #75AADB;
}


/* Ruby on Rails */

.rubyonrails-b-badge {}
.rubyonrails-b-left {
  color: #CC0000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.rubyonrails-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #CC0000;
}


/* Rust */

.rust-b-badge {}
.rust-b-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.rust-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Sass */

.sass-b-badge {}
.sass-b-left {
  color: #CC6699;
  background-color: #rgba(255, 255, 255, 0.9);
}
.sass-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #CC6699;
}


/* Scribd */

.scribd-b-badge {}
.scribd-b-left {
  color: #1A7BBA;
  background-color: #rgba(255, 255, 255, 0.9);
}
.scribd-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1A7BBA;
}


/* Sega */

.sega-b-badge {}
.sega-b-left {
  color: #0089CF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.sega-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0089CF;
}


/* Semantic Web */

.semanticweb-b-badge {}
.semanticweb-b-left {
  color: #005A9C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.semanticweb-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #005A9C;
}


/* Server Fault */

.serverfault-b-badge {}
.serverfault-b-left {
  color: #E7282D;
  background-color: #rgba(255, 255, 255, 0.9);
}
.serverfault-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E7282D;
}


/* Signal */

.signal-b-badge {}
.signal-b-left {
  color: #2592E9;
  background-color: #rgba(255, 255, 255, 0.9);
}
.signal-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2592E9;
}


/* Simple Icons */

.simpleicons-b-badge {}
.simpleicons-b-left {
  color: #111111;
  background-color: #rgba(255, 255, 255, 0.9);
}
.simpleicons-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #111111;
}


/* Slashdot */

.slashdot-b-badge {}
.slashdot-b-left {
  color: #026664;
  background-color: #rgba(255, 255, 255, 0.9);
}
.slashdot-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #026664;
}


/* Snapcraft */

.snapcraft-b-badge {}
.snapcraft-b-left {
  color: #82BEA0;
  background-color: #rgba(255, 255, 255, 0.9);
}
.snapcraft-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #82BEA0;
}


/* SoundCloud */

.soundcloud-b-badge {}
.soundcloud-b-left {
  color: #FF3300;
  background-color: #rgba(255, 255, 255, 0.9);
}
.soundcloud-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FF3300;
}


/* SourceForge */

.sourceforge-b-badge {}
.sourceforge-b-left {
  color: #FF6600;
  background-color: #rgba(255, 255, 255, 0.9);
}
.sourceforge-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FF6600;
}


/* Spacemacs */

.spacemacs-b-badge {}
.spacemacs-b-left {
  color: #9266CC;
  background-color: #rgba(255, 255, 255, 0.9);
}
.spacemacs-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #9266CC;
}


/* Spotify */

.spotify-b-badge {}
.spotify-b-left {
  color: #1ED760;
  background-color: #rgba(255, 255, 255, 0.9);
}
.spotify-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1ED760;
}


/* SQLite */

.sqlite-b-badge {}
.sqlite-b-left {
  color: #003B57;
  background-color: #rgba(255, 255, 255, 0.9);
}
.sqlite-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #003B57;
}


/* Stack Exchange */

.stackexchange-b-badge {}
.stackexchange-b-left {
  color: #1E5397;
  background-color: #rgba(255, 255, 255, 0.9);
}
.stackexchange-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1E5397;
}


/* Stack Overflow */

.stackoverflow-b-badge {}
.stackoverflow-b-left {
  color: #FE7A16;
  background-color: #rgba(255, 255, 255, 0.9);
}
.stackoverflow-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FE7A16;
}


/* Steam */

.steam-b-badge {}
.steam-b-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.steam-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Stylus */

.stylus-b-badge {}
.stylus-b-left {
  color: #333333;
  background-color: #rgba(255, 255, 255, 0.9);
}
.stylus-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #333333;
}


/* Super User */

.superuser-b-badge {}
.superuser-b-left {
  color: #2EACE3;
  background-color: #rgba(255, 255, 255, 0.9);
}
.superuser-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2EACE3;
}


/* SVG */

.svg-b-badge {}
.svg-b-left {
  color: #FFB13B;
  background-color: #rgba(255, 255, 255, 0.9);
}
.svg-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FFB13B;
}


/* TED */

.ted-b-badge {}
.ted-b-left {
  color: #E62B1E;
  background-color: #rgba(255, 255, 255, 0.9);
}
.ted-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E62B1E;
}


/* The Movie Database */

.themoviedatabase-b-badge {}
.themoviedatabase-b-left {
  color: #01D277;
  background-color: #rgba(255, 255, 255, 0.9);
}
.themoviedatabase-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #01D277;
}


/* Tor */

.tor-b-badge {}
.tor-b-left {
  color: #7E4798;
  background-color: #rgba(255, 255, 255, 0.9);
}
.tor-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #7E4798;
}


/* Travis CI */

.travisci-b-badge {}
.travisci-b-left {
  color: #3EAAAF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.travisci-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3EAAAF;
}


/* Tripadvisor */

.tripadvisor-b-badge {}
.tripadvisor-b-left {
  color: #34E0A1;
  background-color: #rgba(255, 255, 255, 0.9);
}
.tripadvisor-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #34E0A1;
}


/* Tumblr */

.tumblr-b-badge {}
.tumblr-b-left {
  color: #36465D;
  background-color: #rgba(255, 255, 255, 0.9);
}
.tumblr-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #36465D;
}


/* TuneIn */

.tunein-b-badge {}
.tunein-b-left {
  color: #14D8CC;
  background-color: #rgba(255, 255, 255, 0.9);
}
.tunein-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #14D8CC;
}


/* Twitch */

.twitch-b-badge {}
.twitch-b-left {
  color: #9146FF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.twitch-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #9146FF;
}


/* uBlock Origin */

.ublockorigin-b-badge {}
.ublockorigin-b-left {
  color: #800000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.ublockorigin-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #800000;
}


/* Ubuntu */

.ubuntu-b-badge {}
.ubuntu-b-left {
  color: #E95420;
  background-color: #rgba(255, 255, 255, 0.9);
}
.ubuntu-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E95420;
}


/* UIkit */

.uikit-b-badge {}
.uikit-b-left {
  color: #2396F3;
  background-color: #rgba(255, 255, 255, 0.9);
}
.uikit-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2396F3;
}


/* Unity */

.unity-b-badge {}
.unity-b-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.unity-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Valve */

.valve-b-badge {}
.valve-b-left {
  color: #F74843;
  background-color: #rgba(255, 255, 255, 0.9);
}
.valve-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F74843;
}


/* Vim */

.vim-b-badge {}
.vim-b-left {
  color: #019733;
  background-color: #rgba(255, 255, 255, 0.9);
}
.vim-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #019733;
}


/* Vimeo */

.vimeo-b-badge {}
.vimeo-b-left {
  color: #1AB7EA;
  background-color: #rgba(255, 255, 255, 0.9);
}
.vimeo-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1AB7EA;
}


/* VLC media player */

.vlcmediaplayer-b-badge {}
.vlcmediaplayer-b-left {
  color: #FF8800;
  background-color: #rgba(255, 255, 255, 0.9);
}
.vlcmediaplayer-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FF8800;
}


/* Vue.js */

.vue-dot-js-b-badge {}
.vue-dot-js-b-left {
  color: #4FC08D;
  background-color: #rgba(255, 255, 255, 0.9);
}
.vue-dot-js-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #4FC08D;
}


/* W3C */

.w3c-b-badge {}
.w3c-b-left {
  color: #005A9C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.w3c-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #005A9C;
}


/* WebAssembly */

.webassembly-b-badge {}
.webassembly-b-left {
  color: #654FF0;
  background-color: #rgba(255, 255, 255, 0.9);
}
.webassembly-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #654FF0;
}


/* webcomponents.org */

.webcomponents-dot-org-b-badge {}
.webcomponents-dot-org-b-left {
  color: #29ABE2;
  background-color: #rgba(255, 255, 255, 0.9);
}
.webcomponents-dot-org-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #29ABE2;
}


/* WebRTC */

.webrtc-b-badge {}
.webrtc-b-left {
  color: #333333;
  background-color: #rgba(255, 255, 255, 0.9);
}
.webrtc-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #333333;
}


/* WeChat */

.wechat-b-badge {}
.wechat-b-left {
  color: #7BB32E;
  background-color: #rgba(255, 255, 255, 0.9);
}
.wechat-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #7BB32E;
}


/* Wikimedia Commons */

.wikimediacommons-b-badge {}
.wikimediacommons-b-left {
  color: #006699;
  background-color: #rgba(255, 255, 255, 0.9);
}
.wikimediacommons-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #006699;
}


/* Wikipedia */

.wikipedia-b-badge {}
.wikipedia-b-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.wikipedia-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Wolfram */

.wolfram-b-badge {}
.wolfram-b-left {
  color: #DD1100;
  background-color: #rgba(255, 255, 255, 0.9);
}
.wolfram-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #DD1100;
}


/* WordPress */

.wordpress-b-badge {}
.wordpress-b-left {
  color: #21759B;
  background-color: #rgba(255, 255, 255, 0.9);
}
.wordpress-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #21759B;
}


/* X.Org */

.x-dot-org-b-badge {}
.x-dot-org-b-left {
  color: #F28834;
  background-color: #rgba(255, 255, 255, 0.9);
}
.x-dot-org-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F28834;
}


/* XDA Developers */

.xdadevelopers-b-badge {}
.xdadevelopers-b-left {
  color: #F59812;
  background-color: #rgba(255, 255, 255, 0.9);
}
.xdadevelopers-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F59812;
}


/* XFCE */

.xfce-b-badge {}
.xfce-b-left {
  color: #2284F2;
  background-color: #rgba(255, 255, 255, 0.9);
}
.xfce-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2284F2;
}


/* XMPP */

.xmpp-b-badge {}
.xmpp-b-left {
  color: #002B5C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.xmpp-b-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #002B5C;
}

