<module 'css_base' from '/home/filosofo/git-stuff/cool-badges/css_base.py'>
/* Alpine Linux */

.alpinelinux-a-badge {}
.alpinelinux-a-left {
  color: #0D597F;
  background-color: #rgba(255, 255, 255, 0.9);
}
.alpinelinux-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0D597F;
}


/* AMD */

.amd-a-badge {}
.amd-a-left {
  color: #ED1C24;
  background-color: #rgba(255, 255, 255, 0.9);
}
.amd-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #ED1C24;
}


/* Anaconda */

.anaconda-a-badge {}
.anaconda-a-left {
  color: #42B029;
  background-color: #rgba(255, 255, 255, 0.9);
}
.anaconda-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #42B029;
}


/* Android */

.android-a-badge {}
.android-a-left {
  color: #3DDC84;
  background-color: #rgba(255, 255, 255, 0.9);
}
.android-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3DDC84;
}


/* Android Studio */

.androidstudio-a-badge {}
.androidstudio-a-left {
  color: #3DDC84;
  background-color: #rgba(255, 255, 255, 0.9);
}
.androidstudio-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3DDC84;
}


/* Angular */

.angular-a-badge {}
.angular-a-left {
  color: #DD0031;
  background-color: #rgba(255, 255, 255, 0.9);
}
.angular-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #DD0031;
}


/* Apache */

.apache-a-badge {}
.apache-a-left {
  color: #D22128;
  background-color: #rgba(255, 255, 255, 0.9);
}
.apache-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #D22128;
}


/* Apache Ant */

.apacheant-a-badge {}
.apacheant-a-left {
  color: #A81C7D;
  background-color: #rgba(255, 255, 255, 0.9);
}
.apacheant-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #A81C7D;
}


/* Apache Cordova */

.apachecordova-a-badge {}
.apachecordova-a-left {
  color: #E8E8E8;
  background-color: #rgba(255, 255, 255, 0.9);
}
.apachecordova-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E8E8E8;
}


/* Apache ECharts */

.apacheecharts-a-badge {}
.apacheecharts-a-left {
  color: #AA344D;
  background-color: #rgba(255, 255, 255, 0.9);
}
.apacheecharts-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #AA344D;
}


/* Apache Flink */

.apacheflink-a-badge {}
.apacheflink-a-left {
  color: #E6526F;
  background-color: #rgba(255, 255, 255, 0.9);
}
.apacheflink-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E6526F;
}


/* Apache NetBeans IDE */

.apachenetbeanside-a-badge {}
.apachenetbeanside-a-left {
  color: #1B6AC6;
  background-color: #rgba(255, 255, 255, 0.9);
}
.apachenetbeanside-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1B6AC6;
}


/* Apache OpenOffice */

.apacheopenoffice-a-badge {}
.apacheopenoffice-a-left {
  color: #0E85CD;
  background-color: #rgba(255, 255, 255, 0.9);
}
.apacheopenoffice-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0E85CD;
}


/* Arch Linux */

.archlinux-a-badge {}
.archlinux-a-left {
  color: #1793D1;
  background-color: #rgba(255, 255, 255, 0.9);
}
.archlinux-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1793D1;
}


/* Ardour */

.ardour-a-badge {}
.ardour-a-left {
  color: #C61C3E;
  background-color: #rgba(255, 255, 255, 0.9);
}
.ardour-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #C61C3E;
}


/* Arduino */

.arduino-a-badge {}
.arduino-a-left {
  color: #00979D;
  background-color: #rgba(255, 255, 255, 0.9);
}
.arduino-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #00979D;
}


/* asciinema */

.asciinema-a-badge {}
.asciinema-a-left {
  color: #D40000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.asciinema-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #D40000;
}


/* Atari */

.atari-a-badge {}
.atari-a-left {
  color: #E4202E;
  background-color: #rgba(255, 255, 255, 0.9);
}
.atari-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E4202E;
}


/* Atlassian */

.atlassian-a-badge {}
.atlassian-a-left {
  color: #0052CC;
  background-color: #rgba(255, 255, 255, 0.9);
}
.atlassian-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0052CC;
}


/* Atom */

.atom-a-badge {}
.atom-a-left {
  color: #66595C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.atom-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #66595C;
}


/* Awesome Lists */

.awesomelists-a-badge {}
.awesomelists-a-left {
  color: #FC60A8;
  background-color: #rgba(255, 255, 255, 0.9);
}
.awesomelists-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FC60A8;
}


/* awesomeWM */

.awesomewm-a-badge {}
.awesomewm-a-left {
  color: #535D6C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.awesomewm-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #535D6C;
}


/* Bandcamp */

.bandcamp-a-badge {}
.bandcamp-a-left {
  color: #408294;
  background-color: #rgba(255, 255, 255, 0.9);
}
.bandcamp-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #408294;
}


/* Bitbucket */

.bitbucket-a-badge {}
.bitbucket-a-left {
  color: #0052CC;
  background-color: #rgba(255, 255, 255, 0.9);
}
.bitbucket-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0052CC;
}


/* Bitcoin */

.bitcoin-a-badge {}
.bitcoin-a-left {
  color: #F7931A;
  background-color: #rgba(255, 255, 255, 0.9);
}
.bitcoin-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F7931A;
}


/* Blender */

.blender-a-badge {}
.blender-a-left {
  color: #F5792A;
  background-color: #rgba(255, 255, 255, 0.9);
}
.blender-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F5792A;
}


/* Buy Me A Coffee */

.buymeacoffee-a-badge {}
.buymeacoffee-a-left {
  color: #FF813F;
  background-color: #rgba(255, 255, 255, 0.9);
}
.buymeacoffee-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FF813F;
}


/* C */

.c-a-badge {}
.c-a-left {
  color: #A8B9CC;
  background-color: #rgba(255, 255, 255, 0.9);
}
.c-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #A8B9CC;
}


/* CentOS */

.centos-a-badge {}
.centos-a-left {
  color: #262577;
  background-color: #rgba(255, 255, 255, 0.9);
}
.centos-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #262577;
}


/* CMake */

.cmake-a-badge {}
.cmake-a-left {
  color: #064F8C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.cmake-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #064F8C;
}


/* Codewars */

.codewars-a-badge {}
.codewars-a-left {
  color: #AD2C27;
  background-color: #rgba(255, 255, 255, 0.9);
}
.codewars-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #AD2C27;
}


/* CoffeeScript */

.coffeescript-a-badge {}
.coffeescript-a-left {
  color: #2F2625;
  background-color: #rgba(255, 255, 255, 0.9);
}
.coffeescript-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2F2625;
}


/* Composer */

.composer-a-badge {}
.composer-a-left {
  color: #885630;
  background-color: #rgba(255, 255, 255, 0.9);
}
.composer-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #885630;
}


/* Concourse */

.concourse-a-badge {}
.concourse-a-left {
  color: #3398DC;
  background-color: #rgba(255, 255, 255, 0.9);
}
.concourse-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3398DC;
}


/* Coveralls */

.coveralls-a-badge {}
.coveralls-a-left {
  color: #3F5767;
  background-color: #rgba(255, 255, 255, 0.9);
}
.coveralls-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3F5767;
}


/* Creative Commons */

.creativecommons-a-badge {}
.creativecommons-a-left {
  color: #EF9421;
  background-color: #rgba(255, 255, 255, 0.9);
}
.creativecommons-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #EF9421;
}


/* Crunchbase */

.crunchbase-a-badge {}
.crunchbase-a-left {
  color: #0288D1;
  background-color: #rgba(255, 255, 255, 0.9);
}
.crunchbase-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0288D1;
}


/* CSS3 */

.css3-a-badge {}
.css3-a-left {
  color: #1572B6;
  background-color: #rgba(255, 255, 255, 0.9);
}
.css3-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1572B6;
}


/* curl */

.curl-a-badge {}
.curl-a-left {
  color: #073551;
  background-color: #rgba(255, 255, 255, 0.9);
}
.curl-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #073551;
}


/* D3.js */

.d3-dot-js-a-badge {}
.d3-dot-js-a-left {
  color: #F9A03C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.d3-dot-js-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F9A03C;
}


/* Debian */

.debian-a-badge {}
.debian-a-left {
  color: #A81D33;
  background-color: #rgba(255, 255, 255, 0.9);
}
.debian-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #A81D33;
}


/* Delicious */

.delicious-a-badge {}
.delicious-a-left {
  color: #3399FF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.delicious-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3399FF;
}


/* DeviantArt */

.deviantart-a-badge {}
.deviantart-a-left {
  color: #05CC47;
  background-color: #rgba(255, 255, 255, 0.9);
}
.deviantart-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #05CC47;
}


/* Diaspora */

.diaspora-a-badge {}
.diaspora-a-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.diaspora-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Digg */

.digg-a-badge {}
.digg-a-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.digg-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Discourse */

.discourse-a-badge {}
.discourse-a-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.discourse-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Disqus */

.disqus-a-badge {}
.disqus-a-left {
  color: #2E9FFF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.disqus-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2E9FFF;
}


/* Django */

.django-a-badge {}
.django-a-left {
  color: #092E20;
  background-color: #rgba(255, 255, 255, 0.9);
}
.django-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #092E20;
}


/* Docker */

.docker-a-badge {}
.docker-a-left {
  color: #2496ED;
  background-color: #rgba(255, 255, 255, 0.9);
}
.docker-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2496ED;
}


/* Drupal */

.drupal-a-badge {}
.drupal-a-left {
  color: #0678BE;
  background-color: #rgba(255, 255, 255, 0.9);
}
.drupal-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0678BE;
}


/* Duolingo */

.duolingo-a-badge {}
.duolingo-a-left {
  color: #58CC02;
  background-color: #rgba(255, 255, 255, 0.9);
}
.duolingo-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #58CC02;
}


/* Eclipse IDE */

.eclipseide-a-badge {}
.eclipseide-a-left {
  color: #2C2255;
  background-color: #rgba(255, 255, 255, 0.9);
}
.eclipseide-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2C2255;
}


/* Electron */

.electron-a-badge {}
.electron-a-left {
  color: #47848F;
  background-color: #rgba(255, 255, 255, 0.9);
}
.electron-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #47848F;
}


/* Elm */

.elm-a-badge {}
.elm-a-left {
  color: #1293D8;
  background-color: #rgba(255, 255, 255, 0.9);
}
.elm-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1293D8;
}


/* ESLint */

.eslint-a-badge {}
.eslint-a-left {
  color: #4B32C3;
  background-color: #rgba(255, 255, 255, 0.9);
}
.eslint-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #4B32C3;
}


/* Fedora */

.fedora-a-badge {}
.fedora-a-left {
  color: #294172;
  background-color: #rgba(255, 255, 255, 0.9);
}
.fedora-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #294172;
}


/* Firefox */

.firefox-a-badge {}
.firefox-a-left {
  color: #FF7139;
  background-color: #rgba(255, 255, 255, 0.9);
}
.firefox-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FF7139;
}


/* Firefox Browser */

.firefoxbrowser-a-badge {}
.firefoxbrowser-a-left {
  color: #FF7139;
  background-color: #rgba(255, 255, 255, 0.9);
}
.firefoxbrowser-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FF7139;
}


/* Fiverr */

.fiverr-a-badge {}
.fiverr-a-left {
  color: #1DBF73;
  background-color: #rgba(255, 255, 255, 0.9);
}
.fiverr-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1DBF73;
}


/* Flask */

.flask-a-badge {}
.flask-a-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.flask-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Flathub */

.flathub-a-badge {}
.flathub-a-left {
  color: #4A86CF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.flathub-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #4A86CF;
}


/* FreeBSD */

.freebsd-a-badge {}
.freebsd-a-left {
  color: #AB2B28;
  background-color: #rgba(255, 255, 255, 0.9);
}
.freebsd-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #AB2B28;
}


/* freeCodeCamp */

.freecodecamp-a-badge {}
.freecodecamp-a-left {
  color: #006400;
  background-color: #rgba(255, 255, 255, 0.9);
}
.freecodecamp-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #006400;
}


/* freedesktop.org */

.freedesktop-dot-org-a-badge {}
.freedesktop-dot-org-a-left {
  color: #3B80AE;
  background-color: #rgba(255, 255, 255, 0.9);
}
.freedesktop-dot-org-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3B80AE;
}


/* Ghost */

.ghost-a-badge {}
.ghost-a-left {
  color: #738A94;
  background-color: #rgba(255, 255, 255, 0.9);
}
.ghost-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #738A94;
}


/* GIMP */

.gimp-a-badge {}
.gimp-a-left {
  color: #5C5543;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gimp-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #5C5543;
}


/* Git */

.git-a-badge {}
.git-a-left {
  color: #F05032;
  background-color: #rgba(255, 255, 255, 0.9);
}
.git-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F05032;
}


/* GitHub */

.github-a-badge {}
.github-a-left {
  color: #181717;
  background-color: #rgba(255, 255, 255, 0.9);
}
.github-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #181717;
}


/* GitLab */

.gitlab-a-badge {}
.gitlab-a-left {
  color: #FCA121;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gitlab-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FCA121;
}


/* Gitter */

.gitter-a-badge {}
.gitter-a-left {
  color: #ED1965;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gitter-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #ED1965;
}


/* GNOME */

.gnome-a-badge {}
.gnome-a-left {
  color: #4A86CF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gnome-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #4A86CF;
}


/* GNU */

.gnu-a-badge {}
.gnu-a-left {
  color: #A42E2B;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gnu-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #A42E2B;
}


/* GNU Bash */

.gnubash-a-badge {}
.gnubash-a-left {
  color: #4EAA25;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gnubash-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #4EAA25;
}


/* GNU Emacs */

.gnuemacs-a-badge {}
.gnuemacs-a-left {
  color: #7F5AB6;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gnuemacs-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #7F5AB6;
}


/* GNU IceCat */

.gnuicecat-a-badge {}
.gnuicecat-a-left {
  color: #002F5B;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gnuicecat-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #002F5B;
}


/* GNU Privacy Guard */

.gnuprivacyguard-a-badge {}
.gnuprivacyguard-a-left {
  color: #0093DD;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gnuprivacyguard-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0093DD;
}


/* GNU social */

.gnusocial-a-badge {}
.gnusocial-a-left {
  color: #A22430;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gnusocial-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #A22430;
}


/* Goodreads */

.goodreads-a-badge {}
.goodreads-a-left {
  color: #663300;
  background-color: #rgba(255, 255, 255, 0.9);
}
.goodreads-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #663300;
}


/* Google Chrome */

.googlechrome-a-badge {}
.googlechrome-a-left {
  color: #4285F4;
  background-color: #rgba(255, 255, 255, 0.9);
}
.googlechrome-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #4285F4;
}


/* Gravatar */

.gravatar-a-badge {}
.gravatar-a-left {
  color: #1E8CBE;
  background-color: #rgba(255, 255, 255, 0.9);
}
.gravatar-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1E8CBE;
}


/* Hackaday */

.hackaday-a-badge {}
.hackaday-a-left {
  color: #1A1A1A;
  background-color: #rgba(255, 255, 255, 0.9);
}
.hackaday-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1A1A1A;
}


/* HappyCow */

.happycow-a-badge {}
.happycow-a-left {
  color: #7C4EC4;
  background-color: #rgba(255, 255, 255, 0.9);
}
.happycow-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #7C4EC4;
}


/* Haskell */

.haskell-a-badge {}
.haskell-a-left {
  color: #5D4F85;
  background-color: #rgba(255, 255, 255, 0.9);
}
.haskell-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #5D4F85;
}


/* Hexo */

.hexo-a-badge {}
.hexo-a-left {
  color: #0E83CD;
  background-color: #rgba(255, 255, 255, 0.9);
}
.hexo-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0E83CD;
}


/* HTML5 */

.html5-a-badge {}
.html5-a-left {
  color: #E34F26;
  background-color: #rgba(255, 255, 255, 0.9);
}
.html5-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E34F26;
}


/* Iconify */

.iconify-a-badge {}
.iconify-a-left {
  color: #1769AA;
  background-color: #rgba(255, 255, 255, 0.9);
}
.iconify-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1769AA;
}


/* IMDb */

.imdb-a-badge {}
.imdb-a-left {
  color: #E6B91E;
  background-color: #rgba(255, 255, 255, 0.9);
}
.imdb-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E6B91E;
}


/* Imgur */

.imgur-a-badge {}
.imgur-a-left {
  color: #1BB76E;
  background-color: #rgba(255, 255, 255, 0.9);
}
.imgur-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1BB76E;
}


/* Inkscape */

.inkscape-a-badge {}
.inkscape-a-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.inkscape-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Instagram */

.instagram-a-badge {}
.instagram-a-left {
  color: #E4405F;
  background-color: #rgba(255, 255, 255, 0.9);
}
.instagram-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E4405F;
}


/* Intel */

.intel-a-badge {}
.intel-a-left {
  color: #0071C5;
  background-color: #rgba(255, 255, 255, 0.9);
}
.intel-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0071C5;
}


/* Jabber */

.jabber-a-badge {}
.jabber-a-left {
  color: #CC0000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.jabber-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #CC0000;
}


/* JavaScript */

.javascript-a-badge {}
.javascript-a-left {
  color: #F7DF1E;
  background-color: #rgba(255, 255, 255, 0.9);
}
.javascript-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F7DF1E;
}


/* Jenkins */

.jenkins-a-badge {}
.jenkins-a-left {
  color: #D24939;
  background-color: #rgba(255, 255, 255, 0.9);
}
.jenkins-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #D24939;
}


/* Joomla */

.joomla-a-badge {}
.joomla-a-left {
  color: #5091CD;
  background-color: #rgba(255, 255, 255, 0.9);
}
.joomla-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #5091CD;
}


/* jQuery */

.jquery-a-badge {}
.jquery-a-left {
  color: #0769AD;
  background-color: #rgba(255, 255, 255, 0.9);
}
.jquery-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0769AD;
}


/* JSFiddle */

.jsfiddle-a-badge {}
.jsfiddle-a-left {
  color: #0084FF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.jsfiddle-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0084FF;
}


/* JSON */

.json-a-badge {}
.json-a-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.json-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Jupyter */

.jupyter-a-badge {}
.jupyter-a-left {
  color: #F37626;
  background-color: #rgba(255, 255, 255, 0.9);
}
.jupyter-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F37626;
}


/* KDE */

.kde-a-badge {}
.kde-a-left {
  color: #1D99F3;
  background-color: #rgba(255, 255, 255, 0.9);
}
.kde-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1D99F3;
}


/* Khan Academy */

.khanacademy-a-badge {}
.khanacademy-a-left {
  color: #14BF96;
  background-color: #rgba(255, 255, 255, 0.9);
}
.khanacademy-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #14BF96;
}


/* Kotlin */

.kotlin-a-badge {}
.kotlin-a-left {
  color: #0095D5;
  background-color: #rgba(255, 255, 255, 0.9);
}
.kotlin-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0095D5;
}


/* Krita */

.krita-a-badge {}
.krita-a-left {
  color: #3BABFF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.krita-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3BABFF;
}


/* Kubernetes */

.kubernetes-a-badge {}
.kubernetes-a-left {
  color: #326CE5;
  background-color: #rgba(255, 255, 255, 0.9);
}
.kubernetes-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #326CE5;
}


/* Last.fm */

.last-dot-fm-a-badge {}
.last-dot-fm-a-left {
  color: #D51007;
  background-color: #rgba(255, 255, 255, 0.9);
}
.last-dot-fm-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #D51007;
}


/* LaTeX */

.latex-a-badge {}
.latex-a-left {
  color: #008080;
  background-color: #rgba(255, 255, 255, 0.9);
}
.latex-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #008080;
}


/* Launchpad */

.launchpad-a-badge {}
.launchpad-a-left {
  color: #F8C300;
  background-color: #rgba(255, 255, 255, 0.9);
}
.launchpad-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F8C300;
}


/* Leaflet */

.leaflet-a-badge {}
.leaflet-a-left {
  color: #199900;
  background-color: #rgba(255, 255, 255, 0.9);
}
.leaflet-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #199900;
}


/* Let’s Encrypt */

.letsencrypt-a-badge {}
.letsencrypt-a-left {
  color: #003A70;
  background-color: #rgba(255, 255, 255, 0.9);
}
.letsencrypt-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #003A70;
}


/* LibreOffice */

.libreoffice-a-badge {}
.libreoffice-a-left {
  color: #18A303;
  background-color: #rgba(255, 255, 255, 0.9);
}
.libreoffice-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #18A303;
}


/* LinkedIn */

.linkedin-a-badge {}
.linkedin-a-left {
  color: #0077B5;
  background-color: #rgba(255, 255, 255, 0.9);
}
.linkedin-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0077B5;
}


/* Linode */

.linode-a-badge {}
.linode-a-left {
  color: #00A95C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.linode-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #00A95C;
}


/* Linux */

.linux-a-badge {}
.linux-a-left {
  color: #FCC624;
  background-color: #rgba(255, 255, 255, 0.9);
}
.linux-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FCC624;
}


/* Linux Foundation */

.linuxfoundation-a-badge {}
.linuxfoundation-a-left {
  color: #009BEE;
  background-color: #rgba(255, 255, 255, 0.9);
}
.linuxfoundation-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #009BEE;
}


/* LiveJournal */

.livejournal-a-badge {}
.livejournal-a-left {
  color: #00B0EA;
  background-color: #rgba(255, 255, 255, 0.9);
}
.livejournal-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #00B0EA;
}


/* LMMS */

.lmms-a-badge {}
.lmms-a-left {
  color: #10B146;
  background-color: #rgba(255, 255, 255, 0.9);
}
.lmms-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #10B146;
}


/* Lua */

.lua-a-badge {}
.lua-a-left {
  color: #2C2D72;
  background-color: #rgba(255, 255, 255, 0.9);
}
.lua-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2C2D72;
}


/* Lubuntu */

.lubuntu-a-badge {}
.lubuntu-a-left {
  color: #0068C8;
  background-color: #rgba(255, 255, 255, 0.9);
}
.lubuntu-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0068C8;
}


/* Manjaro */

.manjaro-a-badge {}
.manjaro-a-left {
  color: #35BF5C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.manjaro-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #35BF5C;
}


/* Mastodon */

.mastodon-a-badge {}
.mastodon-a-left {
  color: #3088D4;
  background-color: #rgba(255, 255, 255, 0.9);
}
.mastodon-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3088D4;
}


/* Material-UI */

.material-ui-a-badge {}
.material-ui-a-left {
  color: #0081CB;
  background-color: #rgba(255, 255, 255, 0.9);
}
.material-ui-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0081CB;
}


/* Mixcloud */

.mixcloud-a-badge {}
.mixcloud-a-left {
  color: #314359;
  background-color: #rgba(255, 255, 255, 0.9);
}
.mixcloud-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #314359;
}


/* MongoDB */

.mongodb-a-badge {}
.mongodb-a-left {
  color: #47A248;
  background-color: #rgba(255, 255, 255, 0.9);
}
.mongodb-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #47A248;
}


/* Mozilla */

.mozilla-a-badge {}
.mozilla-a-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.mozilla-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* MuseScore */

.musescore-a-badge {}
.musescore-a-left {
  color: #1A70B8;
  background-color: #rgba(255, 255, 255, 0.9);
}
.musescore-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1A70B8;
}


/* Myspace */

.myspace-a-badge {}
.myspace-a-left {
  color: #030303;
  background-color: #rgba(255, 255, 255, 0.9);
}
.myspace-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #030303;
}


/* MySQL */

.mysql-a-badge {}
.mysql-a-left {
  color: #4479A1;
  background-color: #rgba(255, 255, 255, 0.9);
}
.mysql-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #4479A1;
}


/* NGINX */

.nginx-a-badge {}
.nginx-a-left {
  color: #269539;
  background-color: #rgba(255, 255, 255, 0.9);
}
.nginx-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #269539;
}


/* Nintendo */

.nintendo-a-badge {}
.nintendo-a-left {
  color: #8F8F8F;
  background-color: #rgba(255, 255, 255, 0.9);
}
.nintendo-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #8F8F8F;
}


/* Node.js */

.node-dot-js-a-badge {}
.node-dot-js-a-left {
  color: #339933;
  background-color: #rgba(255, 255, 255, 0.9);
}
.node-dot-js-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #339933;
}


/* NVIDIA */

.nvidia-a-badge {}
.nvidia-a-left {
  color: #76B900;
  background-color: #rgba(255, 255, 255, 0.9);
}
.nvidia-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #76B900;
}


/* OBS Studio */

.obsstudio-a-badge {}
.obsstudio-a-left {
  color: #302E31;
  background-color: #rgba(255, 255, 255, 0.9);
}
.obsstudio-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #302E31;
}


/* Open Badges */

.openbadges-a-badge {}
.openbadges-a-left {
  color: #073B5A;
  background-color: #rgba(255, 255, 255, 0.9);
}
.openbadges-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #073B5A;
}


/* Open Collective */

.opencollective-a-badge {}
.opencollective-a-left {
  color: #7FADF2;
  background-color: #rgba(255, 255, 255, 0.9);
}
.opencollective-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #7FADF2;
}


/* Open Source Initiative */

.opensourceinitiative-a-badge {}
.opensourceinitiative-a-left {
  color: #3DA639;
  background-color: #rgba(255, 255, 255, 0.9);
}
.opensourceinitiative-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3DA639;
}


/* OpenAPI Initiative */

.openapiinitiative-a-badge {}
.openapiinitiative-a-left {
  color: #6BA539;
  background-color: #rgba(255, 255, 255, 0.9);
}
.openapiinitiative-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #6BA539;
}


/* OpenBSD */

.openbsd-a-badge {}
.openbsd-a-left {
  color: #F2CA30;
  background-color: #rgba(255, 255, 255, 0.9);
}
.openbsd-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F2CA30;
}


/* OpenGL */

.opengl-a-badge {}
.opengl-a-left {
  color: #5586A4;
  background-color: #rgba(255, 255, 255, 0.9);
}
.opengl-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #5586A4;
}


/* OpenID */

.openid-a-badge {}
.openid-a-left {
  color: #F78C40;
  background-color: #rgba(255, 255, 255, 0.9);
}
.openid-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F78C40;
}


/* OpenSSL */

.openssl-a-badge {}
.openssl-a-left {
  color: #721412;
  background-color: #rgba(255, 255, 255, 0.9);
}
.openssl-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #721412;
}


/* openSUSE */

.opensuse-a-badge {}
.opensuse-a-left {
  color: #73BA25;
  background-color: #rgba(255, 255, 255, 0.9);
}
.opensuse-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #73BA25;
}


/* OpenVPN */

.openvpn-a-badge {}
.openvpn-a-left {
  color: #EA7E20;
  background-color: #rgba(255, 255, 255, 0.9);
}
.openvpn-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #EA7E20;
}


/* Origin */

.origin-a-badge {}
.origin-a-left {
  color: #F56C2D;
  background-color: #rgba(255, 255, 255, 0.9);
}
.origin-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F56C2D;
}


/* pandas */

.pandas-a-badge {}
.pandas-a-left {
  color: #150458;
  background-color: #rgba(255, 255, 255, 0.9);
}
.pandas-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #150458;
}


/* Pastebin */

.pastebin-a-badge {}
.pastebin-a-left {
  color: #02456C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.pastebin-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #02456C;
}


/* Pepsi */

.pepsi-a-badge {}
.pepsi-a-left {
  color: #2151A1;
  background-color: #rgba(255, 255, 255, 0.9);
}
.pepsi-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2151A1;
}


/* Perl */

.perl-a-badge {}
.perl-a-left {
  color: #39457E;
  background-color: #rgba(255, 255, 255, 0.9);
}
.perl-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #39457E;
}


/* PHP */

.php-a-badge {}
.php-a-left {
  color: #777BB4;
  background-color: #rgba(255, 255, 255, 0.9);
}
.php-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #777BB4;
}


/* Pokémon */

.pokemon-a-badge {}
.pokemon-a-left {
  color: #FFCB05;
  background-color: #rgba(255, 255, 255, 0.9);
}
.pokemon-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FFCB05;
}


/* PostgreSQL */

.postgresql-a-badge {}
.postgresql-a-left {
  color: #336791;
  background-color: #rgba(255, 255, 255, 0.9);
}
.postgresql-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #336791;
}


/* Postwoman */

.postwoman-a-badge {}
.postwoman-a-left {
  color: #50FA7B;
  background-color: #rgba(255, 255, 255, 0.9);
}
.postwoman-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #50FA7B;
}


/* protocols.io */

.protocols-dot-io-a-badge {}
.protocols-dot-io-a-left {
  color: #4D9FE7;
  background-color: #rgba(255, 255, 255, 0.9);
}
.protocols-dot-io-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #4D9FE7;
}


/* PyPI */

.pypi-a-badge {}
.pypi-a-left {
  color: #3775A9;
  background-color: #rgba(255, 255, 255, 0.9);
}
.pypi-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3775A9;
}


/* Python */

.python-a-badge {}
.python-a-left {
  color: #3776AB;
  background-color: #rgba(255, 255, 255, 0.9);
}
.python-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3776AB;
}


/* Qt */

.qt-a-badge {}
.qt-a-left {
  color: #41CD52;
  background-color: #rgba(255, 255, 255, 0.9);
}
.qt-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #41CD52;
}


/* R */

.r-a-badge {}
.r-a-left {
  color: #276DC3;
  background-color: #rgba(255, 255, 255, 0.9);
}
.r-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #276DC3;
}


/* Raspberry Pi */

.raspberrypi-a-badge {}
.raspberrypi-a-left {
  color: #C51A4A;
  background-color: #rgba(255, 255, 255, 0.9);
}
.raspberrypi-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #C51A4A;
}


/* Read the Docs */

.readthedocs-a-badge {}
.readthedocs-a-left {
  color: #8CA1AF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.readthedocs-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #8CA1AF;
}


/* Reddit */

.reddit-a-badge {}
.reddit-a-left {
  color: #FF4500;
  background-color: #rgba(255, 255, 255, 0.9);
}
.reddit-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FF4500;
}


/* repl.it */

.repl-dot-it-a-badge {}
.repl-dot-it-a-left {
  color: #667881;
  background-color: #rgba(255, 255, 255, 0.9);
}
.repl-dot-it-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #667881;
}


/* RSS */

.rss-a-badge {}
.rss-a-left {
  color: #FFA500;
  background-color: #rgba(255, 255, 255, 0.9);
}
.rss-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FFA500;
}


/* RStudio */

.rstudio-a-badge {}
.rstudio-a-left {
  color: #75AADB;
  background-color: #rgba(255, 255, 255, 0.9);
}
.rstudio-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #75AADB;
}


/* Ruby on Rails */

.rubyonrails-a-badge {}
.rubyonrails-a-left {
  color: #CC0000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.rubyonrails-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #CC0000;
}


/* Rust */

.rust-a-badge {}
.rust-a-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.rust-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Sass */

.sass-a-badge {}
.sass-a-left {
  color: #CC6699;
  background-color: #rgba(255, 255, 255, 0.9);
}
.sass-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #CC6699;
}


/* Scribd */

.scribd-a-badge {}
.scribd-a-left {
  color: #1A7BBA;
  background-color: #rgba(255, 255, 255, 0.9);
}
.scribd-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1A7BBA;
}


/* Sega */

.sega-a-badge {}
.sega-a-left {
  color: #0089CF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.sega-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #0089CF;
}


/* Semantic Web */

.semanticweb-a-badge {}
.semanticweb-a-left {
  color: #005A9C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.semanticweb-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #005A9C;
}


/* Server Fault */

.serverfault-a-badge {}
.serverfault-a-left {
  color: #E7282D;
  background-color: #rgba(255, 255, 255, 0.9);
}
.serverfault-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E7282D;
}


/* Signal */

.signal-a-badge {}
.signal-a-left {
  color: #2592E9;
  background-color: #rgba(255, 255, 255, 0.9);
}
.signal-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2592E9;
}


/* Simple Icons */

.simpleicons-a-badge {}
.simpleicons-a-left {
  color: #111111;
  background-color: #rgba(255, 255, 255, 0.9);
}
.simpleicons-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #111111;
}


/* Slashdot */

.slashdot-a-badge {}
.slashdot-a-left {
  color: #026664;
  background-color: #rgba(255, 255, 255, 0.9);
}
.slashdot-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #026664;
}


/* Snapcraft */

.snapcraft-a-badge {}
.snapcraft-a-left {
  color: #82BEA0;
  background-color: #rgba(255, 255, 255, 0.9);
}
.snapcraft-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #82BEA0;
}


/* SoundCloud */

.soundcloud-a-badge {}
.soundcloud-a-left {
  color: #FF3300;
  background-color: #rgba(255, 255, 255, 0.9);
}
.soundcloud-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FF3300;
}


/* SourceForge */

.sourceforge-a-badge {}
.sourceforge-a-left {
  color: #FF6600;
  background-color: #rgba(255, 255, 255, 0.9);
}
.sourceforge-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FF6600;
}


/* Spacemacs */

.spacemacs-a-badge {}
.spacemacs-a-left {
  color: #9266CC;
  background-color: #rgba(255, 255, 255, 0.9);
}
.spacemacs-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #9266CC;
}


/* Spotify */

.spotify-a-badge {}
.spotify-a-left {
  color: #1ED760;
  background-color: #rgba(255, 255, 255, 0.9);
}
.spotify-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1ED760;
}


/* SQLite */

.sqlite-a-badge {}
.sqlite-a-left {
  color: #003B57;
  background-color: #rgba(255, 255, 255, 0.9);
}
.sqlite-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #003B57;
}


/* Stack Exchange */

.stackexchange-a-badge {}
.stackexchange-a-left {
  color: #1E5397;
  background-color: #rgba(255, 255, 255, 0.9);
}
.stackexchange-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1E5397;
}


/* Stack Overflow */

.stackoverflow-a-badge {}
.stackoverflow-a-left {
  color: #FE7A16;
  background-color: #rgba(255, 255, 255, 0.9);
}
.stackoverflow-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FE7A16;
}


/* Steam */

.steam-a-badge {}
.steam-a-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.steam-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Stylus */

.stylus-a-badge {}
.stylus-a-left {
  color: #333333;
  background-color: #rgba(255, 255, 255, 0.9);
}
.stylus-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #333333;
}


/* Super User */

.superuser-a-badge {}
.superuser-a-left {
  color: #2EACE3;
  background-color: #rgba(255, 255, 255, 0.9);
}
.superuser-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2EACE3;
}


/* SVG */

.svg-a-badge {}
.svg-a-left {
  color: #FFB13B;
  background-color: #rgba(255, 255, 255, 0.9);
}
.svg-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FFB13B;
}


/* TED */

.ted-a-badge {}
.ted-a-left {
  color: #E62B1E;
  background-color: #rgba(255, 255, 255, 0.9);
}
.ted-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E62B1E;
}


/* The Movie Database */

.themoviedatabase-a-badge {}
.themoviedatabase-a-left {
  color: #01D277;
  background-color: #rgba(255, 255, 255, 0.9);
}
.themoviedatabase-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #01D277;
}


/* Tor */

.tor-a-badge {}
.tor-a-left {
  color: #7E4798;
  background-color: #rgba(255, 255, 255, 0.9);
}
.tor-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #7E4798;
}


/* Travis CI */

.travisci-a-badge {}
.travisci-a-left {
  color: #3EAAAF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.travisci-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #3EAAAF;
}


/* Tripadvisor */

.tripadvisor-a-badge {}
.tripadvisor-a-left {
  color: #34E0A1;
  background-color: #rgba(255, 255, 255, 0.9);
}
.tripadvisor-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #34E0A1;
}


/* Tumblr */

.tumblr-a-badge {}
.tumblr-a-left {
  color: #36465D;
  background-color: #rgba(255, 255, 255, 0.9);
}
.tumblr-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #36465D;
}


/* TuneIn */

.tunein-a-badge {}
.tunein-a-left {
  color: #14D8CC;
  background-color: #rgba(255, 255, 255, 0.9);
}
.tunein-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #14D8CC;
}


/* Twitch */

.twitch-a-badge {}
.twitch-a-left {
  color: #9146FF;
  background-color: #rgba(255, 255, 255, 0.9);
}
.twitch-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #9146FF;
}


/* uBlock Origin */

.ublockorigin-a-badge {}
.ublockorigin-a-left {
  color: #800000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.ublockorigin-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #800000;
}


/* Ubuntu */

.ubuntu-a-badge {}
.ubuntu-a-left {
  color: #E95420;
  background-color: #rgba(255, 255, 255, 0.9);
}
.ubuntu-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #E95420;
}


/* UIkit */

.uikit-a-badge {}
.uikit-a-left {
  color: #2396F3;
  background-color: #rgba(255, 255, 255, 0.9);
}
.uikit-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2396F3;
}


/* Unity */

.unity-a-badge {}
.unity-a-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.unity-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Valve */

.valve-a-badge {}
.valve-a-left {
  color: #F74843;
  background-color: #rgba(255, 255, 255, 0.9);
}
.valve-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F74843;
}


/* Vim */

.vim-a-badge {}
.vim-a-left {
  color: #019733;
  background-color: #rgba(255, 255, 255, 0.9);
}
.vim-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #019733;
}


/* Vimeo */

.vimeo-a-badge {}
.vimeo-a-left {
  color: #1AB7EA;
  background-color: #rgba(255, 255, 255, 0.9);
}
.vimeo-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #1AB7EA;
}


/* VLC media player */

.vlcmediaplayer-a-badge {}
.vlcmediaplayer-a-left {
  color: #FF8800;
  background-color: #rgba(255, 255, 255, 0.9);
}
.vlcmediaplayer-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #FF8800;
}


/* Vue.js */

.vue-dot-js-a-badge {}
.vue-dot-js-a-left {
  color: #4FC08D;
  background-color: #rgba(255, 255, 255, 0.9);
}
.vue-dot-js-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #4FC08D;
}


/* W3C */

.w3c-a-badge {}
.w3c-a-left {
  color: #005A9C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.w3c-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #005A9C;
}


/* WebAssembly */

.webassembly-a-badge {}
.webassembly-a-left {
  color: #654FF0;
  background-color: #rgba(255, 255, 255, 0.9);
}
.webassembly-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #654FF0;
}


/* webcomponents.org */

.webcomponents-dot-org-a-badge {}
.webcomponents-dot-org-a-left {
  color: #29ABE2;
  background-color: #rgba(255, 255, 255, 0.9);
}
.webcomponents-dot-org-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #29ABE2;
}


/* WebRTC */

.webrtc-a-badge {}
.webrtc-a-left {
  color: #333333;
  background-color: #rgba(255, 255, 255, 0.9);
}
.webrtc-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #333333;
}


/* WeChat */

.wechat-a-badge {}
.wechat-a-left {
  color: #7BB32E;
  background-color: #rgba(255, 255, 255, 0.9);
}
.wechat-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #7BB32E;
}


/* Wikimedia Commons */

.wikimediacommons-a-badge {}
.wikimediacommons-a-left {
  color: #006699;
  background-color: #rgba(255, 255, 255, 0.9);
}
.wikimediacommons-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #006699;
}


/* Wikipedia */

.wikipedia-a-badge {}
.wikipedia-a-left {
  color: #000000;
  background-color: #rgba(255, 255, 255, 0.9);
}
.wikipedia-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #000000;
}


/* Wolfram */

.wolfram-a-badge {}
.wolfram-a-left {
  color: #DD1100;
  background-color: #rgba(255, 255, 255, 0.9);
}
.wolfram-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #DD1100;
}


/* WordPress */

.wordpress-a-badge {}
.wordpress-a-left {
  color: #21759B;
  background-color: #rgba(255, 255, 255, 0.9);
}
.wordpress-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #21759B;
}


/* X.Org */

.x-dot-org-a-badge {}
.x-dot-org-a-left {
  color: #F28834;
  background-color: #rgba(255, 255, 255, 0.9);
}
.x-dot-org-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F28834;
}


/* XDA Developers */

.xdadevelopers-a-badge {}
.xdadevelopers-a-left {
  color: #F59812;
  background-color: #rgba(255, 255, 255, 0.9);
}
.xdadevelopers-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #F59812;
}


/* XFCE */

.xfce-a-badge {}
.xfce-a-left {
  color: #2284F2;
  background-color: #rgba(255, 255, 255, 0.9);
}
.xfce-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #2284F2;
}


/* XMPP */

.xmpp-a-badge {}
.xmpp-a-left {
  color: #002B5C;
  background-color: #rgba(255, 255, 255, 0.9);
}
.xmpp-a-right {
  color: #rgba(255, 255, 255, 0.9);
  background-color: #002B5C;
}

